.height{background: red;
height: 100px;}
p{
    background: blue;
    height:100px
}
h2{
    background: blue;
    height:100px
}
h3{
    background:rebeccapurple ;
    max-height: 100px;
}
h1{
    background:rebeccapurple ;
    min-height: 100px;
}