h1{border:solid 10px;
    color:blueviolet;
    margin:10px 10px 10px 10px}
h2{border:solid;
    color:blueviolet;
    margin:10px 10px}
h3{border:solid;
    color:blueviolet;
    margin-top:100px}
h4{border:solid;
    color:blueviolet;
    width: 50%;
    margin-left:auto }